*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: minmax(200px, 400px);
  padding: 2rem;
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

h1,
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

h1,
h3 {
  font-weight: 300;
}

a {
  background-color: var(--clr-green-mid);
  text-decoration: none;
  color: var(--clr-blk-2);
  padding: 0.2em 1em;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

header {
  display: flex;
  justify-content: space-between;
}

h3 {
  background-color: var(--clr-green-mid);
  padding: 0.2em 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.intro .img-container {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: 0 auto 3rem auto;
  box-shadow: 0 0 15px -2px var(--clr-blk-5);
  background-image: url("images/Mobile/eduardo-dutra-k6b53YWZI9I-unsplash.png");
  background-position: top;
  background-size: cover;
}

section p {
  max-width: 30ch;
  margin: 1em auto;
  opacity: 0.8;
}

.whatdo {
  background-color: var(--clr-blk-3);
  color: var(--clr-white);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.whatdo h2 {
  margin: 1em auto;
}
