:root {
  --clr-white: #ffffff;
  --clr-green-light: #16e08d;
  --clr-green-mid: #14cfae;
  --clr-green-dark: #1c4b43;
  --clr-blk-1: #000000;
  --clr-blk-2: #141414;
  --clr-blk-3: #2e2e2e;
  --clr-blk-4: #333333;
  --clr-blk-5: #303030;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: minmax(200px, 400px);
  padding: 2rem;
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

h1,
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

h1,
h3 {
  font-weight: 300;
}

header {
  display: flex;
  justify-content: space-between;
}

.intro h3 {
  background-color: var(--clr-green-mid);
  padding: 0.2em 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
}
